﻿

@using (Html.BeginForm())
{


    <div class="form-horizontal">
        <h4 id="AddCuenta">Nota</h4>
        <hr />
        <form action="/Nota/create" method="post" enctype="text/plain">

            <div class="form-group">

                <div class="col-md-10">
                    <label>Titulo</label>
                    <input value="@ViewBag.Notas.Titulo" name="Titulo" id="Nombre" />
                  
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    <label>Contenido</label>
                    <input value="@ViewBag.Notas.Contenido" name="Contenido" id="Contenido" />
                  
                </div>
            </div>
            
 

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnAddCuenta" type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>




    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
 