﻿
<div class="form-group">


    <div class="md-form">
        <input placeholder="ingresa titulo nota" />
    </div>
    <div class="md-form">

        <h6 for="contact-name" class="font-weight-bold"seleccione una nota</h6>

        <form action="/Nota/index" method="get" enctype="text/plain">
            @foreach (var nota in ViewBag.Notas)
                {
                <table>
                    <tr>
                        <td>Titulo</td>
                        <td>Contenido</td>
                    </tr>
                    <tr>
                        <td value="@nota.id" name="@nota.Titulo">@nota.Titulo</td>
                        <td value="@nota.id" name="@nota.Contenido">@nota.Contenido</td>
                    </tr>
                </table>
                
               
                }
          
        </form>



    </div>
</div>